<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.name }} - Item Details</title>
</head>
<body>
    <h1>Item Details</h1>
        <h2>{{ item.name }}</h2>
        <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width: 300px; height: auto;">
        <p><strong>Type:</strong> {{ item.item_type }}</p>
        <p><strong>Description:</strong> {{ item.description }}</p>
        <p><strong>Price:</strong> Rs. {{ item.price }}</p>
        <a href="items" class="order-btn">Back to Items</a>
    
</body>
</html>