{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if cart_items %}
        <table>
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>{{ item.item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>Rs. {{ item.item.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="total-price">Total Price: Rs. {{ total_price }}</p>
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    <h2>Order Confirmation</h2>
    <p>Are you sure you want to place the order?</p>
    <form method="post" action="{% url 'order_confirmation' %}">
        {% csrf_token %}
        <button type="submit">Submit</button>
        <a href="{% url 'cart' %}">Cancel</a>
    </form>
</div>
{% endblock %}
