{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>Past Orders</h2>

    {% if orders %}
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Items - Quantity - Price</th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.created_at }}</td>
                        
                            <td>
                                <ul>
                                {% for item in order.items.all %}
                                    <li>{{ item.item.name }} - {{ item.quantity }} - Rs. {{item.item.price}} </li>
                                {% endfor %}
                                </ul>
                                    </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no-orders">You have no past orders.</p>
    {% endif %}
</div>
{% endblock %}
